@import url(root.css);

.navWrapper{
    display: flex;
    padding: 15px 2%;
    justify-content: space-between;
    background-color: var(--bg-color);
    height: 135px;
}

.imgWrapper{
    align-self: center;
}

.image{
    width: 300px;
}