@import url(root.css);

/* So that button in the nav isnt wrapping */
.logInBtn{
    text-wrap: nowrap;
}

/* Background */
.opacityDiv{
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 55%;
}


/* Everything in the modal window */
.logInWrapper{
    position: fixed;
    background-color: thistle;
    padding: 30px;
    width: 390px;
    border-radius: var(--border-radius);
    
    /* To center the log in modal window */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.logInWrapper h2{
    margin-bottom: 15px;
}

.modalBtn{
    display: flex;
    justify-content: end;
}

.logInFields{
    margin-top: -20px;
}

.errMsg{
    font-size: 13px;
    color: darkred;
}

.signInBtn{
    margin-bottom: 7px;
}
