/* The navigation links in the middle */
.ulForProducts{
    font-size: 20px;
    align-items: flex-end;
    margin: 0;
}


/* The navigation links to the right */
.ulForInfo{
    align-items: center;
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 14px;
}


/* For both navigation links */
.ulForProducts, .ulForInfo{
    display: flex;
    list-style-type: none;
    padding: 0;
}

.ulForProducts li, .ulForInfo li{
    margin-right: 2vw;
}


.searchWrapper{
    align-items: center;
    display: flex;
    gap: 10px;
}