.pageTitle{
    text-align: center;
    margin: 50px;
}

.productsWrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
    justify-content: center;
    margin-bottom: 50px;
}

.individualPrWrapper{
    width: 300px;
}

.imgWrapper{
    height: 400px;
    /* Just to center the img placeholder text */
    display: flex;
    align-items: center;
    background-color: lavender;
}