:root{
    --main-color: #aaddff;
    --accent-color: #002255;
    --border-radius: 7px;
    --logo-font: Kristen ITC;
}

*{
    margin: 0;
    box-sizing: border-box;
}

/* Default all buttons */
button{
    background-color: var(--accent-color);
    padding: 5px 7px;
    border-radius: var(--border-radius);
    border: none;
    min-width: 38px;
    color: white;
}
button:hover{
    transform: scale(1.09);
    transition: 0.1s ease-in-out;
}
button:active{
    transform: scale(1);
    transition: 0.1s ease-in-out;
}

/* Default all links */
a{
    text-decoration: none;
    color: black;
}
a:active{
    color: var(--main-color);
}
